.navbar {
    position : sticky;
    bottom : 0;
    z-index: 1;  
  }
  
  .navbarLinkItem {
    border : 5px solid rgb(111,41,97);
    border-radius: .5em;
    padding: 10px;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

.navbarLink {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}