.gameView {
    min-height: 81vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2px 2px;
    grid-template-areas:
      ". . . . vine-health . . . ."
      "mill-img honey-img sunflower-img corn-img vine-img sprout-img tree-img well-img wheat-img"
      "mill-points honey-points sunflower-points corn-points . sprout-points tree-points well-points wheat-points";
}

.vineyard {
    position: absolute;
    height: 85%;
    width: 100%;
    z-index: -1;
}

.vine-health {
    grid-area: vine-health;
}

.corn-points {
    grid-area: corn-points;
}

.sunflower-points {
    grid-area: sunflower-points;
}

.honey-points {
    grid-area: honey-points;
}

.mill-points {
    grid-area: mill-points;
}

.sprout-points {
    grid-area: sprout-points;
}

.tree-points {
    grid-area: tree-points;
}

.well-points {
    grid-area: well-points;
}

.wheat-points {
    grid-area: wheat-points;
}

.vine-img {
    grid-area: vine-img;
    height: 100px;
    margin: -70px -20px -86px -20px;
}

.corn-img {
    grid-area: corn-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.sunflower-img {
    grid-area: sunflower-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.honey-img {
    grid-area: honey-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.mill-img {
    grid-area: mill-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.sprout-img {
    grid-area: sprout-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.tree-img {
    grid-area: tree-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.well-img {
    grid-area: well-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

.wheat-img {
    grid-area: wheat-img;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
