body {
    background-color: sienna;
}

.gameView {
    min-height: 100vh;
    background-image: url("../images/vine_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}